<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
            <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js') }}" > </script>
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/ie10-viewport-bug-workaround.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/carousel.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/translateelement.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap-submenu.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap-submenu.css.map') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap-submenu.min.css') }}" />
        
        {% endblock %}        
        
        <link rel="icon" type="image/x-icon" href="{{ asset('public/image/ico.png') }}" />
    </head>
    <body>
        {% block body %}
            {{ include('menu.html.twig') }}
        {% endblock %}
            
        {% block javascripts %}
        
            <script src="{{ asset('public/js/jquery-3.1.1.js') }}" > </script>
            <script src="{{ asset('public/js/ie-emulation-modes-warning.js') }}" > </script>
            <script> window.jQuery || document.write('<script src="./public/js/jquery.min.js"><\/script>') </script>
            <script src="{{ asset('public/js/bootstrap.min.js') }}" > </script>
            <script src="{{ asset('public/js/holder.min.js') }}" > </script>
            <script src="{{ asset('public/js/jquery.min.js') }}" > </script>
            <script src="{{ asset('public/js/ie10-viewport-bug-workaround.js') }}" > </script>
            <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}" > </script>   
            <script src="{{ asset('public/js/bootstrap-submenu.min.js') }}" > </script>
            <script src="{{ asset('public/js/bootstrap-submenu.js') }}" > </script>
        
        {% endblock %}
    </body>
</html>
