    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('imagen_proactiva_index')}}" ><font><font>Imagen Corporativa</font></font></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('imagen_proactiva_index')}}"><font><font>Home</font></font></a></li>
                <li><a href="#about"><font><font>About </font></font></a></li>
                <li><a href="#contact"><font><font>Contact</font></font></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font><font>Dropdown</font></font><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('imagen_proactiva_generate_checkbox')}}"><font><font>Create Checkbox</font></font></a></li>
                    <li><a href="{{ path('imagen_proactiva_generate_radio')}}"><font><font>Create Radio Buttons</font></font></a></li>
                    <li><a href="{{ path('imagen_proactiva_generate_text')}}"><font><font>Create Text Area</font></font></a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>